[submodule "backend"]
	path = backend
	url = https://github.com/prettyirrelevant/flicks-api.git
[submodule "backend-utils"]
	path = backend-utils
	url = https://github.com/Jaybee020/flicks
[submodule "mobile-app"]
	path = mobile-app
	url = https://github.com/codergon/flicks-app
